.sort-by {
  &:before,
  &:after {
    content: '';
    border: 4px solid transparent;
    display: block;
    height: 0;
    position: relative;
    width: 0;
    margin-left: 5px;
  }

  &:before {
    border-bottom-color: #666;
    margin-bottom: 5px;
  }

  &:after {
    border-top-color: #666;
    margin-top: 5px;
  }

  &.asc:after {
    visibility: hidden;
  }

  &.desc:before {
    visibility: hidden;
  }
}
