:host, // For components without ViewEncapsulation.None
.admin__detail // For components with ViewEncapsulation.None
{
  display: flex;
  flex-direction: column;
  flex: 1;

  mat-card.mat-card {
    margin: 0 24px 24px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    overflow: auto;

    form {
      display: flex;
      flex-direction: column;
      width: 550px;

      &.detail-form--large {
        width: 700px;
      }

      &.detail-form--full {
        width: 100%;
      }

      .detail-form {
        &__row {
          display: flex;

          & > *:not(:first-child) {
            margin-left: 1em;
          }

          &__item {
            &--large {
              flex: 1;
            }
          }
        }
      }

      h3:not(:first-child) {
        padding-top: 20px;
      }
    }
  }
}
