<div class="pageHeaderContent">
  <!-- Left cell: back button and title -->
  <div class="items left">
    <span class="page-header-title">{{ 'features.produce.title' | translate }}</span>
  </div>
  <div class="items buttons-wrapper buttons-wrapper--end">
    <div class="buttons-container">
      <button
        mat-flat-button
        color="primary"
        class="btn--size-l"
        (click)="onClick(ProduceAction.RESET_FRESH)"
      >
        {{ 'features.produce.reset_fresh.button' | translate }}<mat-icon>delete</mat-icon>
      </button>
      <button
        mat-flat-button
        color="primary"
        class="btn--size-l"
        (click)="onClick(ProduceAction.SAVE)"
      >
        {{ 'common.action.update' | translate }}
      </button>
    </div>
  </div>
</div>

<app-stock [categories]="categories"></app-stock>
