<div class="page-header">
  <!-- Left cell: back button and title -->
  <div class="page-header__content">
    <span class="page-header__title">{{ 'features.produce.title' | translate }}</span>
  </div>
  <div class="buttons-wrapper buttons-wrapper--end">
    <div class="buttons-container">
      <button
        mat-flat-button
        color="primary"
        class="btn--size-l"
        (click)="onClick(StockAction.SAVE)"
      >
        {{ 'common.action.update' | translate }}
      </button>
    </div>
  </div>
</div>

<app-stock [categories]="categories"></app-stock>
