.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  position: sticky;
  top: 0px;
  z-index: 100;

  &__content {
    flex: 1;
    display: flex;

    & > * {
      line-height: 40px;
    }

    &__group {
      display: flex;
      margin-right: 10px;
    }
  }

  &__title {
    font-size: 24px;
    vertical-align: middle;

    &--multi-lines {
      display: flex;
      flex-direction: column;
    }

    .small {
      font-size: medium;
      line-height: normal;
    }
  }
}

.btn-back {
  margin-right: 16px;
}

.buttons-container {
  & > button {
    margin-left: 10px;
  }
}
