:host {
  background-color: inherit;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  position: sticky;
  top: 24px;
  background: inherit;
  z-index: 100;

  &__content {
    flex: 1;
    display: flex;

    & > * {
      line-height: 40px;
    }
  }

  &__title {
    font-size: 24px;
    vertical-align: middle;
  }
}

.btn-back {
  margin-right: 16px;
}

.buttons-container {
  & > button {
    margin-left: 10px;
  }
}
