mat-toolbar.app__toolbar {
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
  background: white;

  display: flex;
  justify-content: space-between;

  & > * {
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: none;
  }

  .sync-btn--error {
    display: block;
  }
}

mat-sidenav-container {
  height: calc(100% - 64px);
}
