<mat-toolbar class="tester__toolbar">
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <h3>TODO</h3>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="above" (click)="sidenav.toggle()">
    <mat-nav-list>
      <mat-list-item routerLink="/">Accueil </mat-list-item>
      <mat-list-item routerLink="/markets">Marchés </mat-list-item>
      <mat-list-item routerLink="/products">Produits </mat-list-item>
      <mat-list-item routerLink="/producing">Fabrication </mat-list-item>
      <mat-list-item routerLink="/sync">Synchro </mat-list-item>
    </mat-nav-list>
    {{ (connectionStatusService.status | async) ? 'Online' : 'Offline' }}
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
