<button (click)="putStock()">PUT</button>
<form [formGroup]="form" *ngIf="form">
  <ng-container formArrayName="stock">
    <mat-grid-list cols="3">
      <mat-grid-tile *ngFor="let stockItem of form.get('stock')?.controls; let i = index">
        <mat-card [formGroupName]="i">
          <mat-card-header>{{ stockItem.value.name }}</mat-card-header>
          <mat-card-content *ngIf="sanitizedImages[stockItem.value.id]">
            <div class="image-preview" *ngIf="sanitizedImages[stockItem.value.id]">
              <img [src]="sanitizedImages[stockItem.value.id]" />
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div class="quantity-selector">
              <button mat-icon-button (click)="decreaseQuantity(i)">
                <mat-icon>remove</mat-icon>
              </button>
              <mat-form-field appearance="outline">
                <mat-label>Quantité</mat-label>
                <mat-select formControlName="quantity" required>
                  <mat-option *ngFor="let quantity of quantities" [value]="quantity">
                    {{ quantity }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-icon-button (click)="increaseQuantity(i)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container>
</form>
<app-api-obs-helper (httpError)="onHttpError($event)"></app-api-obs-helper>
