mat-card {
  width: 80%; // 75 with images
}

// mat-card-header {
//   width: 100%;
//   padding-top: 75%;
//   position: relative;
//   overflow: hidden;
//   .image-preview {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     display: flex;
//     justify-content: center;

//     img {
//       object-fit: contain;
//     }
//   }
// }

mat-card-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;

  span {
    font-size: large;

    &.price {
      min-width: 50px;
      text-align: end;
    }
  }
}

.disabled {
  opacity: 0.3;
}

.quantity-selector {
  display: flex;
  justify-content: center;
  align-items: center;

  mat-form-field {
    width: 120px;
  }

  button {
    margin-bottom: 18px;
  }
}
