<div class="page-header">
  <div class="page-header__content">
    <span class="page-header__title page-header__title">
      <div>
        {{ 'features.market_preparation.title' | translate }}
        {{ marketSales?.marketName ? ' : ' + marketSales.marketName : '' }}
      </div>
      <button mat-flat-button color="error" class="small" (click)="closeMarket()">
        Clore le marché actuel
      </button>
    </span>
  </div>
  <div class="buttons-wrapper buttons-wrapper--end">
    <div class="buttons-container">
      <button mat-icon-button (click)="openSettings()"><mat-icon>settings</mat-icon></button>
      <button
        mat-flat-button
        color="primary"
        class="btn--size-l"
        (click)="onClick(StockAction.SAVE)"
        [disabled]="!isValid()"
      >
        {{ 'common.action.update' | translate }}
      </button>
    </div>
  </div>
</div>

<app-stock [categories]="categories" [functionnality]="SF.MARKET_PREPARATION"></app-stock>
