<div class="pageHeaderContent">
  <div class="items left">
    <span class="page-header-title">
      {{ 'features.market_preparation.title' | translate }}
      {{ marketSales?.marketName ? ' : ' + marketSales.marketName : '' }}
    </span>
  </div>
  <div class="items buttons-wrapper buttons-wrapper--end">
    <div class="buttons-container">
      <button mat-icon-button (click)="openSettings()"><mat-icon>settings</mat-icon></button>
      <button
        mat-flat-button
        color="primary"
        class="btn--size-l"
        (click)="onClick(StockAction.SAVE)"
        [disabled]="!isValid()"
      >
        {{ 'common.action.update' | translate }}
      </button>
    </div>
  </div>
</div>

<app-stock [categories]="categories" [functionnality]="stockFunctionnality"></app-stock>
