$margin: 24px;
:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  button mat-icon[matPrefix] {
    margin-left: -5px;
  }

  mat-table {
    overflow-y: auto;
    flex: 1;

    mat-header-row {
      position: sticky;
      top: 0;
      z-index: 2;
    }

    mat-row {
      td {
        border: none;
      }
    }
  }

  .app-datatable {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    border-radius: 3px;
    margin: $margin;
    margin-top: 0;
    height: calc(100% - #{$margin * 2});

    app-searchbar {
      flex: 1;
    }

    &__header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      mat-checkbox {
        font-size: 14px;
      }

      &__archived-checkbox {
        margin-right: 15px;
      }
    }
  }

  mat-header-cell {
    div.mat-sort-header-container div.mat-sort-header-arrow {
      display: none;
    }
    &.datatable-header-sortable {
      cursor: pointer;
    }
  }

  mat-header-cell:not(.datatable-header-sortable) {
    div.mat-sort-header-container {
      cursor: default;
    }
  }
}

.checkbox-cell {
  max-width: 35px;
}

.uppercase--first::first-letter {
  text-transform: uppercase;
}

.colored-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
}
