/* You can add global styles to this file, and also import other style files */

@import './assets/iconfont/material-icons.css';
@import './fonts.scss';
@import '~ngx-toastr/toastr.css';

@import '~@angular/material/theming';
@include mat-core();

$app-primary: mat-palette($mat-teal);
$app-accent: mat-palette($mat-teal);
$app-warn: mat-palette($mat-red);

$theme-dark: mat-dark-theme($app-primary, $app-accent, $app-warn);
$theme-light: mat-light-theme($app-primary, $app-accent, $app-warn);

.color-scheme-dark {
  @include angular-material-theme($theme-dark);
  .fix-overlap {
    background-color: #303030;
    border-bottom: solid 1px #424242;
  }
}

.color-scheme-light {
  @include angular-material-theme($theme-light);
  .fix-overlap {
    background-color: #fafafa;
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
  }
}

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.color-scheme-dark .app__search__wrapper {
  background: #212121;
}
